html, body{
    background:url('../img/bg.jpg') center center no-repeat ;
    height: 100%;
      background-size: cover; 
}

@media(max-width:768px){
    #logo img {
        width: 50%;
    }

    #counter .countdown{
        font-size: 1em !important ;
    }
    #icons .fa{
        margin: 10px 0 0 !important;
        font-size: 2em;
    }
}

@media(min-width:321px)
    and (max-width:568px){
        #logo img {
            width: 20% ;
        }
    }

#logo img{
    margin: 0 auto;
    padding-top: 28px ;
}
#intro p{
    color: white;
    text-align: center ;

}
#counter .countdown{
    margin: -14px;
    color: white;
    text-align: center;
}

#icons{
    text-align: center;
    padding: 10px;
    margin: 5px 10px;
}

#icons .fa{
    color: white ;
    margin: 5px;
    position: relative;
    bottom: 0;
    transition: all 0.2s ease-in-out

}

#icons .twitter:hover{
    color:#6cadde;
    bottom:5px;
}

#signup{
   text-align: center;
   color: white;
 }

 #signup .btn-signup{
     background-color: rgba(123,232 231, 0.3)
      transition: all 0.3s ease-in-out ; 
 }

 #signup .btn-signup:hover{
     background-color: rgba(111, 098, 232, 0.8)
 }